# https://github.com/cert-manager/trust-manager/blob/main/deploy/charts/trust-manager/values.yaml

trust-manager:
  crds:
    keep: false


  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  defaultPackage:
    resources:
      requests:
        {% if gitops_instance_variables.defaultpackage_cpu_request %}
        cpu: {{ gitops_instance_variables.defaultpackage_cpu_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.defaultpackage_memory_request %}
        memory: {{ gitops_instance_variables.defaultpackage_memory_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.defaultpackage_cpu_limit %}
        cpu: {{ gitops_instance_variables.defaultpackage_cpu_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.defaultpackage_memory_limit %}
        memory: {{ gitops_instance_variables.defaultpackage_memory_limit | to_json }}
        {% endif %}


  defaultPackageImage:
    {{ gitops_instance_variables.default_package_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  resources:
    requests:
      {% if gitops_instance_variables.cpu_request %}
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.memory_request %}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
      {% endif %}
    limits:
      {% if gitops_instance_variables.cpu_limit %}
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.memory_limit %}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}
      {% endif %}


  app:
    metrics:
      service:
        servicemonitor:
          enabled: {{ prometheus_stack_enabled | to_json }}
          labels:
            release: prometheus-stack
