local_ca_certificates: {{ local_ca_certificates | to_json }}

ca_injector:
  assign:
    - name: certificate-injection-java-etc
      volumeMount:
        mountPath: /etc/ssl/certs/java/cacerts
        subPath: bundle.jks
      volume:
        configMap:
          name: kubitus-ca-bundle
      label: kubitus-project.gitlab.io/inject-ca-bundle-java
    - name: certificate-injection-java-opt
      volumeMount:
        mountPath: /opt/java/openjdk/lib/security/cacerts
        subPath: bundle.jks
      volume:
        configMap:
          name: kubitus-ca-bundle
      label: kubitus-project.gitlab.io/inject-ca-bundle-java
    - name: certificate-injection-debian
      volumeMount:
        mountPath: /etc/ssl/certs/ca-certificates.crt
        subPath: root-certs.pem
      volume:
        configMap:
          name: kubitus-ca-bundle
      label: kubitus-project.gitlab.io/inject-ca-bundle-debian
