{
  "gcp_project_id": {{ terraform_gcp_project_id | to_json }},
  "region": {{ terraform_gcp_region | to_json }},
  "ssh_pub_key": {{ terraform_ssh_pub_key | to_json }},

  "keyfile_location": {{ terraform_gcp_keyfile_location | to_json }},

  "prefix": {{ terraform_gcp_prefix | to_json }},

  "ssh_whitelist": {{ terraform_ssh_whitelist | to_json }},
  "api_server_whitelist": {{ terraform_api_server_whitelist | to_json }},
  "nodeport_whitelist": {{ terraform_nodeport_whitelist | to_json }},
  "ingress_whitelist": {{ terraform_ingress_whitelist | to_json }},

  "master_sa_email": {{ terraform_gcp_controlplane_serviceaccount_email | to_json }},
  "master_sa_scopes": {{ terraform_gcp_controlplane_serviceaccount_scopes | to_json }},
  "master_preemptible": {{ terraform_gcp_controlplane_preemptible | to_json }},
  "master_additional_disk_type": {{ terraform_gcp_controlplane_additional_disk_type | to_json }},
  "worker_sa_email": {{ terraform_gcp_worker_serviceaccount_email | to_json }},
  "worker_sa_scopes": {{ terraform_gcp_worker_serviceaccount_scopes | to_json }},
  "worker_preemptible": {{ terraform_gcp_worker_preemptible | to_json }},
  "worker_additional_disk_type": {{ terraform_gcp_worker_additional_disk_type | to_json }},

  "machines": {
{% for terraform_node in terraform_gcp_nodes %}
    {{ terraform_node | to_json }}: {
      "node_type": "{% if terraform_node in groups['kube_control_plane'] | default([]) %}master{% else %}worker{% endif %}",
      "size": {{ hostvars[terraform_node].terraform_gcp_node_size | default(terraform_gcp_node_size) | to_json }},
      "zone": {{ hostvars[terraform_node].terraform_gcp_zone | default(terraform_gcp_zone) | to_json }},
      "additional_disks": {{ hostvars[terraform_node].terraform_additional_disks | default(terraform_additional_disks) | to_json }},
      "boot_disk": {
        "image_name": {{ hostvars[terraform_node].terraform_gcp_boot_disk_image_name | default(terraform_gcp_boot_disk_image_name) | to_json }},
        "size": {{ hostvars[terraform_node].terraform_boot_disk_size | default(terraform_boot_disk_size) | to_json }}
      }
    }{% if not loop.last %},{% endif %}
{% endfor %}
  },

  "extra_ingress_firewalls": {
{% for rule_name, rule in terraform_gcp_extra_ingress_firewalls.items() %}
    {{ rule_name | to_json }}: {
      "source_ranges": {{ rule.source_ranges | to_json }},
      "protocol": {{ rule.protocol | to_json }},
      "ports": {{ rule.ports | to_json }},
      "target_tags": {{ rule.target_tags | default(['master', 'worker']) | to_json }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  }
}
