ansible_user: {{ terraform_ssh_user }}
{% if terraform_node in groups['kube_control_plane'] | default([]) %}
ansible_host: {{ (terraform_output.stdout | from_json)['master_ips']['value'].get(terraform_gcp_prefix + '-' + terraform_node)['public_ip'] | to_json }}
ip: {{ (terraform_output.stdout | from_json)['master_ips']['value'].get(terraform_gcp_prefix + '-' + terraform_node)['private_ip'] | to_json }}
{% else %}
ansible_host: {{ (terraform_output.stdout | from_json)['worker_ips']['value'].get(terraform_gcp_prefix + '-' + terraform_node)['public_ip'] | to_json }}
ip: {{ (terraform_output.stdout | from_json)['worker_ips']['value'].get(terraform_gcp_prefix + '-' + terraform_node)['private_ip'] | to_json }}
{% endif %}
{% if terraform_node in groups['etcd'] | default([]) %}
etcd_member_name: etcd{{ groups['etcd'].index(terraform_node) + 1 }}
{% endif %}
