# https://github.com/cert-manager/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml
cert-manager:
  installCRDs: true


  image:
    {{ gitops_instance_variables.controller_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  resources:
    requests:
      {% if gitops_instance_variables.controller_cpu_request %}
      cpu: {{ gitops_instance_variables.controller_cpu_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.controller_memory_request %}
      memory: {{ gitops_instance_variables.controller_memory_request | to_json }}
      {% endif %}
    limits:
      {% if gitops_instance_variables.controller_cpu_limit %}
      cpu: {{ gitops_instance_variables.controller_cpu_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.controller_memory_limit %}
      memory: {{ gitops_instance_variables.controller_memory_limit | to_json }}
      {% endif %}


  prometheus:
    enabled: {{ prometheus_stack_enabled | to_json }}
    servicemonitor:
      enabled: true
      labels:
        release: prometheus-stack
      honorLabels: true


  {% if not gitops_instance_variables.ingress_shim_enabled %}
  extraArgs:
  - --controllers=*,-ingress-shim
  {% endif %}


  webhook:
    image:
      {{ gitops_instance_variables.webhook_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}
    resources:
      requests:
        {% if gitops_instance_variables.webhook_cpu_request %}
        cpu: {{ gitops_instance_variables.webhook_cpu_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.webhook_memory_request %}
        memory: {{ gitops_instance_variables.webhook_memory_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.webhook_cpu_limit %}
        cpu: {{ gitops_instance_variables.webhook_cpu_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.webhook_memory_limit %}
        memory: {{ gitops_instance_variables.webhook_memory_limit | to_json }}
        {% endif %}

  cainjector:
    image:
      {{ gitops_instance_variables.cainjector_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}
    resources:
      requests:
        {% if gitops_instance_variables.cainjector_cpu_request %}
        cpu: {{ gitops_instance_variables.cainjector_cpu_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.cainjector_memory_request %}
        memory: {{ gitops_instance_variables.cainjector_memory_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.cainjector_cpu_limit %}
        cpu: {{ gitops_instance_variables.cainjector_cpu_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.cainjector_memory_limit %}
        memory: {{ gitops_instance_variables.cainjector_memory_limit | to_json }}
        {% endif %}


  acmesolver:
    image:
      {{ gitops_instance_variables.acmesolver_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}


  startupapicheck:
    image:
      {{ gitops_instance_variables.startupapicheck_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}
    resources:
      requests:
        {% if gitops_instance_variables.startupapicheck_cpu_request %}
        cpu: {{ gitops_instance_variables.startupapicheck_cpu_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.startupapicheck_memory_request %}
        memory: {{ gitops_instance_variables.startupapicheck_memory_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.startupapicheck_cpu_limit %}
        cpu: {{ gitops_instance_variables.startupapicheck_cpu_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.startupapicheck_memory_limit %}
        memory: {{ gitops_instance_variables.startupapicheck_memory_limit | to_json }}
        {% endif %}