apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: {{ gitops_instance_variables.name | to_json }}
  namespace: argocd
  {% if gitops_instance_variables.cascading_deletion == 'foreground' %}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  {% elif gitops_instance_variables.cascading_deletion == 'background' %}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/background
  {% endif %}
  {% if gitops_instance_variables.server_side_diff %}
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true
  {% endif %}

spec:
  project: {{ gitops_instance_variables.name | to_json }}

  source:
    repoURL: "{{ gitops_repo_url }}"
    targetRevision: main
    path: "{{ gitops_instance_variables.name }}"
    {% if gitops_instance_variables.patches_json6902 or gitops_instance_variables.patches_strategic_merge %}
    plugin:
      name: kustomized-helm
      env:
      - name: HELM_REPOSITORY_NAMES
        value: {{ gitops_instance_variables.helm_dependencies | map(attribute='name') | join(',') | to_json }}
      - name: HELM_REPOSITORY_URLS
        value: {{ gitops_instance_variables.helm_dependencies | map(attribute='repository') | join(',') | to_json }}
      {% if gitops_instance_variables.helm_skip_crds %}
      - name: HELM_TEMPLATE_EXTRA_ARGS
        value: '--skip-crds'
      {% endif %}
    {% else %}
    helm:
      valueFiles:
      - values.yaml
      - gitops_instance_values.yaml
      {% if gitops_instance_variables.helm_skip_crds %}
      skipCrds: true
      {% endif %}
    {% endif %}

  destination:
    name: ''
    namespace: "{{ gitops_instance_variables.namespace }}"
    server: 'https://kubernetes.default.svc'

  syncPolicy:
    {% if gitops_instance_variables.syncpolicy_automated %}
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    {% endif %}
    syncOptions:
      {% if gitops_instance_variables.server_side_apply %}
      - ServerSideApply=true
      {% else %}
      []
      {% endif %}
    retry:
      # 0s, 10s, 20s, 40s,  1m20, 2m40,  5m20, 10m40
      # 0s, 10s, 30s, 1m10, 2m30, 5m10, 10m30, 21m10
      limit: 20
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 30m

  ignoreDifferences:
    {{ gitops_instance_variables.ignore_differences | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}
