gitops_instance:
  name: {{ gitops_instance_variables.name | to_json }}
  createNamespace: {{ gitops_instance_variables.create_namespace | to_json }}
  namespacePodSecurity: {{ gitops_instance_variables.namespace_pod_security | to_json }}
  tenant: {{ gitops_instance_variables.tenant | to_json }}
