resources:
- ./all.yaml

{% if gitops_instance_variables.patches_json6902 %}
patchesJson6902:
{% for patch_json6902 in gitops_instance_variables.patches_json6902 %}
- target:
    {{ patch_json6902.target | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}
  patch: |-
    {{ patch_json6902.patch | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}
{% endfor %}

{% endif %}

{% if gitops_instance_variables.patches_strategic_merge %}
patchesStrategicMerge:
{% for patch_strategic_merge in gitops_instance_variables.patches_strategic_merge %}
- |-
  {{ patch_strategic_merge | to_yaml(default_flow_style=False, width=1337) | indent(width=2) }}
{% endfor %}

{% endif %}
