apiVersion: argoproj.io/v1alpha1
kind: AppProject

metadata:
  name: {{ gitops_instance_variables.name | to_json }}
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  finalizers:
  - resources-finalizer.argocd.argoproj.io

spec:
  description: {{ gitops_instance_variables.description | to_json }}

  sourceRepos:
  - '*'

  destinations:
  - namespace: ''
    server: https://kubernetes.default.svc
  - namespace: "{{ gitops_instance_variables.namespace }}"
    server: https://kubernetes.default.svc
  {% for extra_namespace in gitops_instance_variables.extra_namespaces %}
  - namespace: "{{ extra_namespace }}"
    server: https://kubernetes.default.svc
  {% endfor %}

  clusterResourceWhitelist:
  - group: ''
    kind: Namespace

  - group: admissionregistration.k8s.io
    kind: MutatingWebhookConfiguration
  - group: admissionregistration.k8s.io
    kind: ValidatingWebhookConfiguration
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
  - group: rbac.authorization.k8s.io
    kind: ClusterRole
  - group: rbac.authorization.k8s.io
    kind: ClusterRoleBinding

  {% if gitops_instance_variables.extra_cluster_resource_whitelist %}
  {{ gitops_instance_variables.extra_cluster_resource_whitelist | to_yaml(default_flow_style=False, width=1337)  | indent(width=2) }}
  {% endif %}

  namespaceResourceWhitelist:
  - group: ''
    kind: ConfigMap
  - group: ''
    kind: LimitRange
  - group: ''
    kind: Pod
  - group: ''
    kind: PersistentVolumeClaim
  - group: ''
    kind: ResourceQuota
  - group: ''
    kind: Secret
  - group: ''
    kind: Service
  - group: ''
    kind: ServiceAccount

  - group: 'apps'
    kind: DaemonSet
  - group: 'apps'
    kind: Deployment
  - group: 'apps'
    kind: ReplicaSet
  - group: 'apps'
    kind: StatefulSet
  - group: 'autoscaling'
    kind: HorizontalPodAutoscaler
  - group: 'batch'
    kind: Job
  - group: 'batch'
    kind: CronJob
  - group: networking.k8s.io
    kind: Ingress
  - group: networking.k8s.io
    kind: NetworkPolicy
  - group: policy
    kind: PodDisruptionBudget
  - group: rbac.authorization.k8s.io
    kind: RoleBinding
  - group: rbac.authorization.k8s.io
    kind: Role

  - group: bitnami.com
    kind: SealedSecret

  - group: cert-manager.io
    kind: Certificate

  - group: monitoring.coreos.com
    kind: PodMonitor
  - group: monitoring.coreos.com
    kind: PrometheusRule
  - group: monitoring.coreos.com
    kind: ServiceMonitor

  - group: aquasecurity.github.io
    kind: VulnerabilityReport

  {% if gitops_instance_variables.extra_namespace_resource_whitelist %}
  {{ gitops_instance_variables.extra_namespace_resource_whitelist | to_yaml(default_flow_style=False, width=1337)  | indent(width=2) }}
  {% endif %}
