apiVersion: v1
kind: Secret
metadata:
  name: keycloak-client-secret-argocd
  labels:
    app.kubernetes.io/part-of: argocd
data:
  CLIENT_ID: {{ argocd_oidc_client_id | b64encode | to_json }}
  CLIENT_SECRET: {{ argocd_oidc_client_secret | b64encode | to_json }}
