apiserver_fqdn: {{ apiserver_fqdn | to_json }}
apiserver_ingress_enabled: {{ apiserver_ingress_enabled | to_json }}
apiserver_ingress_class: {{ apiserver_ingress_class | to_json }}
apiserver_ingress_certificate_issuer: {{ apiserver_ingress_certificate_issuer | to_json }}
apiserver_ingress_proxy_read_timeout_seconds: {{ apiserver_ingress_proxy_read_timeout | community.general.to_seconds | int | string | to_json }}

gitops_instance_variables:
  netpol_namespaces: {{ gitops_instance_variables.netpol_namespaces | to_json }}

global:
  rbac:
    {% for level in ['view','edit', 'admin', 'cluster-admin', 'cluster-viewer'] %}
    {{ level }}:
      groups:
        {{ gitops_instance_variables.get(level | replace('-', '_') + '_groups', []) | to_nice_yaml(indent=2) | indent(8) }}
      impersonateGroups:
        {{ gitops_instance_variables.get('impersonate_' + level | replace('-', '_') + '_groups', []) | to_nice_yaml(indent=2) | indent(8) }}
      users:
        {{ gitops_instance_variables.get(level | replace('-', '_') + '_users', []) | to_nice_yaml(indent=2) | indent(8) }}
      impersonateUsers:
        {{ gitops_instance_variables.get('impersonate_' + level | replace('-', '_') + '_users', []) | to_nice_yaml(indent=2) | indent(8) }}
    {% endfor %}
