extra_host_network_policies:
  {{ gitops_instance_variables.extra_host_network_policies | to_nice_yaml(indent=2, width=1337) | indent(width=2) }}
ssh_ingress_access:
{% if gitops_instance_variables.ssh_ingress_access_cidr %}
  - fromCIDR:
    {{ gitops_instance_variables.ssh_ingress_access_cidr | to_nice_yaml(indent=2, width=1337) | indent(width=4) }}
{% else %}
  - fromEntities:
    - world
{% endif %}

# https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/values.yaml
cilium:
  rollOutCiliumPods: true


  image:
    override: {{ gitops_instance_variables.image | to_json }}

  {% if gitops_instance_variables.hubble_export_dynamic_enabled %}
  extraVolumes:
    - hostPath:
        path: "/var/log/cilium"
        type: DirectoryOrCreate
      name: "cilium-log"

  extraVolumeMounts:
    - mountPath: "/var/log/cilium"
      name: "cilium-log"

  {% endif %}
  {% if gitops_instance_variables.kube_proxy_replacement not in [false, 'disabled'] %}
  kubeProxyReplacement: true

  {% endif %}
  {% if gitops_instance_variables.k8s_service_host %}
  k8sServiceHost: {{ gitops_instance_variables.k8s_service_host | to_json }}
  k8sServicePort: {{ gitops_instance_variables.k8s_service_port | int | to_json }}

  {% endif %}
  {% if gitops_instance_variables.bpf_masquerade_enabled %}
  bpf:
    masquerade: true
    # https://github.com/cilium/cilium/issues/27343 ?
    hostLegacyRouting: true

  {% endif %}
  {% if gitops_instance_variables.ingress_controller_enabled %}
  ingressController:
    enabled: true
    default: {{ (default_ingress_class == 'cilium') | to_json }}
    loadbalancerMode: {{ gitops_instance_variables.ingress_controller_loadbalancer_mode | to_json }}
    {% if ingress_nginx_enabled %}
      {% if (ingress_nginx_instances | default(['default']) | first) == 'default' %}
    defaultSecretNamespace: ingress-nginx
    defaultSecretName: default-ssl-certificate
      {% else %}
    defaultSecretNamespace: ingress-nginx-{{ ingress_nginx_instances | first }}
    defaultSecretName: default-ssl-certificate
      {% endif %}
    {% endif %}
    service:
      {% if gitops_instance_variables.ingress_controller_service_load_balancer_ip %}
      annotations:
        metallb.universe.tf/loadBalancerIPs: {{ gitops_instance_variables.ingress_controller_service_load_balancer_ip | to_json }}
      {% endif %}
      type: {{ gitops_instance_variables.ingress_controller_service_type | to_json }}

  {% endif %}
  {% if gitops_instance_variables.tunnel not in ['disabled', 'vxlan'] %}
  tunnelProtocol: {{ gitops_instance_variables.tunnel | to_json }}

  {% endif %}
  {% if gitops_instance_variables.tunnel == 'disabled' %}
  routingMode: native

  {% endif %}
  {% if gitops_instance_variables.ipv4_native_routing_cidr %}
  ipv4NativeRoutingCIDR: {{ gitops_instance_variables.ipv4_native_routing_cidr | to_json }}

  {% endif %}
  {% if gitops_instance_variables.auto_direct_node_routes %}
  autoDirectNodeRoutes: {{ gitops_instance_variables.auto_direct_node_routes | to_json }}

  {% endif %}
  {% if gitops_instance_variables.loadbalancer_mode != 'snat' %}
  loadBalancer:
    mode: {{ gitops_instance_variables.loadbalancer_mode | to_json }}

  {% endif %}
  {% if gitops_instance_variables.policy_enforcement_mode %}
  policyEnforcementMode: {{ gitops_instance_variables.policy_enforcement_mode | to_json }}

  {% endif %}

  resources:
    requests:
      {% if gitops_instance_variables.memory_request %}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_request %}
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      {% endif %}
    limits:
      {% if gitops_instance_variables.memory_limit %}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_limit %}
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      {% endif %}

  hostFirewall:
    enabled: {{ gitops_instance_variables.hostfirewall_enabled | to_json }}

  certgen:
    image:
      override: {{ gitops_instance_variables.certgen_image | to_json }}


  hubble:
    {% if prometheus_stack_enabled %}
    metrics:
      enabled:
        {{ gitops_instance_variables.hubble_metrics | to_yaml(default_flow_style=False, width=1337) | indent(width=8) }}

      serviceMonitor:
        enabled: true
        labels:
          release: prometheus-stack

      dashboards:
        enabled: {{ prometheus_stack_grafana_enabled | to_json }}

    {% endif %}
    tls:
      auto:
        method: cronJob  # or certmanager?

    relay:
      enabled: {{ gitops_instance_variables.hubble_relay_enabled | to_json }}
      rollOutPods: true
      image:
        override: {{ gitops_instance_variables.hubble_relay_image | to_json }}
      resources:
        requests:
          {% if gitops_instance_variables.hubble_relay_memory_request %}
          memory: {{ gitops_instance_variables.hubble_relay_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.hubble_relay_cpu_request %}
          cpu: {{ gitops_instance_variables.hubble_relay_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.hubble_relay_memory_limit %}
          memory: {{ gitops_instance_variables.hubble_relay_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.hubble_relay_cpu_limit %}
          cpu: {{ gitops_instance_variables.hubble_relay_cpu_limit | to_json }}
          {% endif %}
      prometheus:
        enabled: {{ prometheus_stack_enabled | to_json }}

        serviceMonitor:
          enabled: {{ prometheus_stack_enabled | to_json }}
          labels:
            release: prometheus-stack

    ui:
      enabled: {{ gitops_instance_variables.hubble_ui_enabled | to_json }}
      rollOutPods: true
      backend:
        image:
          override: {{ gitops_instance_variables.hubble_ui_backend_image | to_json }}
        resources:
          requests:
            {% if gitops_instance_variables.hubble_ui_backend_memory_request %}
            memory: {{ gitops_instance_variables.hubble_ui_backend_memory_request | to_json }}
            {% endif %}
            {% if gitops_instance_variables.hubble_ui_backend_cpu_request %}
            cpu: {{ gitops_instance_variables.hubble_ui_backend_cpu_request | to_json }}
            {% endif %}
          limits:
            {% if gitops_instance_variables.hubble_ui_backend_memory_limit %}
            memory: {{ gitops_instance_variables.hubble_ui_backend_memory_limit | to_json }}
            {% endif %}
            {% if gitops_instance_variables.hubble_ui_backend_cpu_limit %}
            cpu: {{ gitops_instance_variables.hubble_ui_backend_cpu_limit | to_json }}
            {% endif %}
      frontend:
        image:
          override: {{ gitops_instance_variables.hubble_ui_image | to_json }}
        resources:
          requests:
            {% if gitops_instance_variables.hubble_ui_frontend_memory_request %}
            memory: {{ gitops_instance_variables.hubble_ui_frontend_memory_request | to_json }}
            {% endif %}
            {% if gitops_instance_variables.hubble_ui_frontend_cpu_request %}
            cpu: {{ gitops_instance_variables.hubble_ui_frontend_cpu_request | to_json }}
            {% endif %}
          limits:
            {% if gitops_instance_variables.hubble_ui_frontend_memory_limit %}
            memory: {{ gitops_instance_variables.hubble_ui_frontend_memory_limit | to_json }}
            {% endif %}
            {% if gitops_instance_variables.hubble_ui_frontend_cpu_limit %}
            cpu: {{ gitops_instance_variables.hubble_ui_frontend_cpu_limit | to_json }}
            {% endif %}
      proxy:
        image:
          override: {{ gitops_instance_variables.hubble_proxy_image | to_json }}

    export:
      dynamic:
        enabled: {{ gitops_instance_variables.hubble_export_dynamic_enabled | to_json }}
        config:
          {{ gitops_instance_variables.hubble_export_dynamic_config | to_nice_yaml(indent=2) | indent(width=10) }}

  ipam:
    mode: {{ gitops_instance_variables.ipam_mode | to_json }}

  {% if gitops_instance_variables.ipam_mode == 'kubernetes' %}
  k8s:
    requireIPv4PodCIDR: true
    # requireIPv6PodCIDR: false

  {% endif %}
  {% if gitops_instance_variables.egress_gateway_enabled %}
  egressGateway:
    enabled: {{ gitops_instance_variables.egress_gateway_enabled | to_json }}

  {% endif %}
  operator:
    rollOutPods: true

    image:
      override: {{ gitops_instance_variables.operator_image | to_json }}

    resources:
      requests:
        {% if gitops_instance_variables.operator_memory_request %}
        memory: {{ gitops_instance_variables.operator_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.operator_cpu_request %}
        cpu: {{ gitops_instance_variables.operator_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.operator_memory_limit %}
        memory: {{ gitops_instance_variables.operator_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.operator_cpu_limit %}
        cpu: {{ gitops_instance_variables.operator_cpu_limit | to_json }}
        {% endif %}

    prometheus:
      enabled: {{ prometheus_stack_enabled | to_json }}

      serviceMonitor:
        enabled: {{ prometheus_stack_enabled | to_json }}
        labels:
          release: prometheus-stack

    dashboards:
      enabled: {{ prometheus_stack_grafana_enabled | to_json }}


  envoy:
    image:
      override: {{ gitops_instance_variables.envoy_image | to_json }}

    resources:
      requests:
        {% if gitops_instance_variables.envoy_memory_request %}
        memory: {{ gitops_instance_variables.envoy_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.envoy_cpu_request %}
        cpu: {{ gitops_instance_variables.envoy_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.envoy_memory_limit %}
        memory: {{ gitops_instance_variables.envoy_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.envoy_cpu_limit %}
        cpu: {{ gitops_instance_variables.envoy_cpu_limit | to_json }}
        {% endif %}

    prometheus:
      serviceMonitor:
        enabled: {{ prometheus_stack_enabled | to_json }}
        labels:
          release: prometheus-stack


  prometheus:
    enabled: {{ prometheus_stack_enabled | to_json }}

    serviceMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}
      labels:
        release: prometheus-stack

    {% if gitops_instance_variables.metrics %}
    metrics:
      {{ gitops_instance_variables.metrics | to_nice_yaml(indent=2) | indent(width=6) }}
    {% endif %}


  dashboards:
    enabled: {{ prometheus_stack_grafana_enabled | to_json }}


  preflight:
    image:
      override: {{ gitops_instance_variables.image | to_json }}

  clustermesh:
    apiserver:
      metrics:
        etcd:
          serviceMonitor:
            enabled: {{ prometheus_stack_enabled | to_json }}
            labels:
              release: prometheus-stack
