global_mode: {{ global_mode | to_json }}
{% if global_mode == 'management' %}
apiserver_ips: {{ netpol_fqdn2ips.get(kubernetes_service_host, [kubernetes_service_host]) | to_json }}
{% endif %}
{% if global_mode != 'workload' %}
vcenter_ips: {{ netpol_fqdn2ips.get(vcenter_server, [vcenter_server]) | to_json }}
{% endif %}

vsphere-csi:
  global:
    {% if global_mode %}
    mode: {{ global_mode | to_json }}
    {% endif %}
    # logLevel: DEVELOPMENT
    config:
      {% if global_mode != 'management' %}
      storageclass:
        enabled: {{ gitops_instance_variables.storageclass_enabled | to_json }}
        storagepolicyname: {{ gitops_instance_variables.storageclass_storagepolicyname | to_json }}
        expansion: {{ gitops_instance_variables.storageclass_expansion | to_json }}
        default: {{ gitops_instance_variables.storageclass_default | to_json }}
      {% endif %}

      {% if global_mode != 'workload' %}
      global:
        insecure-flag: false
        cluster-id: {{ cluster_id }}
        thumbprint: {{ vcenter_thumbprint | to_json }}

      vcenter:
        {{ vcenter_server | to_json }}:
          insecure-flag: false
          user: {{ vcenter_user | to_json }}
          password: {{ vcenter_password | to_json }}
          datacenters: {{ vcenter_datacenters | to_json }}
          # secretName:
          # secretNamespace:
      {% endif %}

  controller:
    config:
      improved-volume-topology: false
      block-volume-snapshot: {{ csi_snapshotter_enabled | to_json }}
      csi-migration: false
      topology-preferential-datastores: false
      csi-windows-support: false
      multi-vcenter-csi-topology: false

    containerSecurityContext:
      enabled: true

    {% if global_mode == 'management' %}
    csiNamespace: vsphere-csi

    global:
      extraEnvVars:
      - name: KUBERNETES_SERVICE_HOST
        value: "{{ kubernetes_service_host }}"
      - name: KUBERNETES_SERVICE_PORT
        value: "{{ kubernetes_service_port }}"
      # extraEnvVarsCM: kubernetes-service
      extraVolumeMounts:
      - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
        name: kube-api-access
        readOnly: true

    extraVolumes:
    - name: kube-api-access
      secret:
        secretName: kube-api-access

    {% endif %}
    {% if global_mode != 'workload' %}
    image:
      {{ gitops_instance_variables.driver_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    resources:
      requests:
        {% if gitops_instance_variables.controller_memory_request %}
        memory: {{ gitops_instance_variables.controller_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controller_cpu_request %}
        cpu: {{ gitops_instance_variables.controller_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.controller_memory_limit %}
        memory: {{ gitops_instance_variables.controller_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controller_cpu_limit %}
        cpu: {{ gitops_instance_variables.controller_cpu_limit | to_json }}
        {% endif %}

    dnsPolicy: ClusterFirst

    resizer:
      image:
        {{ gitops_instance_variables.resizer_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      containerSecurityContext:
        enabled: true
        runAsUser: 65532
      resources:
        requests:
          {% if gitops_instance_variables.controller_resizer_memory_request %}
          memory: {{ gitops_instance_variables.controller_resizer_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_resizer_cpu_request %}
          cpu: {{ gitops_instance_variables.controller_resizer_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.controller_resizer_memory_limit %}
          memory: {{ gitops_instance_variables.controller_resizer_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_resizer_cpu_limit %}
          cpu: {{ gitops_instance_variables.controller_resizer_cpu_limit | to_json }}
          {% endif %}

    attacher:
      image:
        {{ gitops_instance_variables.attacher_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      containerSecurityContext:
        enabled: true
        runAsUser: 65532
      resources:
        requests:
          {% if gitops_instance_variables.controller_attacher_memory_request %}
          memory: {{ gitops_instance_variables.controller_attacher_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_attacher_cpu_request %}
          cpu: {{ gitops_instance_variables.controller_attacher_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.controller_attacher_memory_limit %}
          memory: {{ gitops_instance_variables.controller_attacher_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_attacher_cpu_limit %}
          cpu: {{ gitops_instance_variables.controller_attacher_cpu_limit | to_json }}
          {% endif %}

    livenessprobe:
      image:
        {{ gitops_instance_variables.livenessprobe_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      containerSecurityContext:
        enabled: true
        runAsUser: 65532
      resources:
        requests:
          {% if gitops_instance_variables.controller_livenessprobe_memory_request %}
          memory: {{ gitops_instance_variables.controller_livenessprobe_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_livenessprobe_cpu_request %}
          cpu: {{ gitops_instance_variables.controller_livenessprobe_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.controller_livenessprobe_memory_limit %}
          memory: {{ gitops_instance_variables.controller_livenessprobe_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_livenessprobe_cpu_limit %}
          cpu: {{ gitops_instance_variables.controller_livenessprobe_cpu_limit | to_json }}
          {% endif %}

    syncer:
      image:
        {{ gitops_instance_variables.syncer_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      containerSecurityContext:
        enabled: true
        runAsUser: 65532
      resources:
        requests:
          {% if gitops_instance_variables.controller_syncer_memory_request %}
          memory: {{ gitops_instance_variables.controller_syncer_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_syncer_cpu_request %}
          cpu: {{ gitops_instance_variables.controller_syncer_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.controller_syncer_memory_limit %}
          memory: {{ gitops_instance_variables.controller_syncer_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_syncer_cpu_limit %}
          cpu: {{ gitops_instance_variables.controller_syncer_cpu_limit | to_json }}
          {% endif %}

    provisioner:
      image:
        {{ gitops_instance_variables.provisioner_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      containerSecurityContext:
        enabled: true
        runAsUser: 65532
      args:
        - --v=4
        - --timeout=300s
        - --csi-address=$(ADDRESS)
        - --kube-api-qps=100
        - --kube-api-burst=100
        - --leader-election
        - --leader-election-lease-duration=120s
        - --leader-election-renew-deadline=60s
        - --leader-election-retry-period=30s
        - --default-fstype=ext4
        {% if provisioner_extra_args %}
        {{ provisioner_extra_args | to_yaml(default_flow_style=False, width=1337) | indent(width=8) }}
        {% endif %}
      resources:
        requests:
          {% if gitops_instance_variables.controller_provisioner_memory_request %}
          memory: {{ gitops_instance_variables.controller_provisioner_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_provisioner_cpu_request %}
          cpu: {{ gitops_instance_variables.controller_provisioner_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.controller_provisioner_memory_limit %}
          memory: {{ gitops_instance_variables.controller_provisioner_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_provisioner_cpu_limit %}
          cpu: {{ gitops_instance_variables.controller_provisioner_cpu_limit | to_json }}
          {% endif %}

    snapshotter:
      image:
        {{ gitops_instance_variables.snapshotter_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      containerSecurityContext:
        enabled: true
        runAsUser: 65532
      resources:
        requests:
          {% if gitops_instance_variables.controller_snapshotter_memory_request %}
          memory: {{ gitops_instance_variables.controller_snapshotter_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_snapshotter_cpu_request %}
          cpu: {{ gitops_instance_variables.controller_snapshotter_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.controller_snapshotter_memory_limit %}
          memory: {{ gitops_instance_variables.controller_snapshotter_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.controller_snapshotter_cpu_limit %}
          cpu: {{ gitops_instance_variables.controller_snapshotter_cpu_limit | to_json }}
          {% endif %}
    {% endif %}


  {% if global_mode != 'management' %}
  snapshotwebhook:
    image:
      {{ gitops_instance_variables.snapshot_validation_webhook_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}


  node:
    image:
      {{ gitops_instance_variables.driver_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    resources:
      requests:
        {% if gitops_instance_variables.node_memory_request %}
        memory: {{ gitops_instance_variables.node_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.node_cpu_request %}
        cpu: {{ gitops_instance_variables.node_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.node_memory_limit %}
        memory: {{ gitops_instance_variables.node_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.node_cpu_limit %}
        cpu: {{ gitops_instance_variables.node_cpu_limit | to_json }}
        {% endif %}

    dnsPolicy: ClusterFirst

    maxVolumesPerNode: {{ gitops_instance_variables.max_volumes_per_node | to_json }}

    registrar:
      image:
        {{ gitops_instance_variables.node_driver_registrar_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      resources:
        requests:
          {% if gitops_instance_variables.node_registrar_memory_request %}
          memory: {{ gitops_instance_variables.node_registrar_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.node_registrar_cpu_request %}
          cpu: {{ gitops_instance_variables.node_registrar_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.node_registrar_memory_limit %}
          memory: {{ gitops_instance_variables.node_registrar_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.node_registrar_cpu_limit %}
          cpu: {{ gitops_instance_variables.node_registrar_cpu_limit | to_json }}
          {% endif %}

    livenessprobe:
      args:
        - "--v=4"
        - "--csi-address=/csi/csi.sock"
        - "--probe-timeout=4s"
      image:
        {{ gitops_instance_variables.livenessprobe_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      resources:
        requests:
          {% if gitops_instance_variables.livenessprobe_memory_request %}
          memory: {{ gitops_instance_variables.livenessprobe_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.livenessprobe_cpu_request %}
          cpu: {{ gitops_instance_variables.livenessprobe_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.livenessprobe_memory_limit %}
          memory: {{ gitops_instance_variables.livenessprobe_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.livenessprobe_cpu_limit %}
          cpu: {{ gitops_instance_variables.livenessprobe_cpu_limit | to_json }}
          {% endif %}


  webhook:
    image:
      {{ gitops_instance_variables.syncer_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}
  {% endif %}


  metrics:
    enabled: {{ prometheus_stack_enabled | to_json }}

    serviceMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}
      labels:
        release: prometheus-stack
