fluent_bit_enabled: {{ fluent_bit_enabled | to_json }}

opentelemetry-collector:
  mode: {{ gitops_instance_variables.mode | to_json }}



  presets:
    logsCollection:
      enabled: {{ gitops_instance_variables.logs_collection_enabled | to_json }}
      {% if gitops_instance_variables.logs_collection_enabled %}
      storeCheckpoints: true
      {% endif %}


    hostMetrics:
      enabled: {{ gitops_instance_variables.host_metrics_enabled | to_json }}


    kubernetesAttributes:
      enabled: {{ gitops_instance_variables.kubernetes_attributes_enabled | to_json }}


    kubeletMetrics:
      enabled: {{ gitops_instance_variables.kubelet_metrics_enabled | to_json }}


    kubernetesEvents:
      enabled: {{ gitops_instance_variables.kubernetes_events_enabled | to_json }}


    clusterMetrics:
      enabled: {{ gitops_instance_variables.cluster_metrics_enabled | to_json }}



  config:
    {% if gitops_instance_variables.journald_enabled %}
    extensions:
      headers_setter/loki-default-tenant:
        headers:
          - action: upsert
            key: X-Scope-OrgId
            value: '1'


    {% endif %}
    processors:
      transform/flatten-kubernetesEvents:
        error_mode: ignore
        log_statements:
        - context: log
          statements:
          # https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/27069
          - merge_maps(cache, body["object"], "upsert") where IsMap(body) and body["object"] != nil
          - set(resource.attributes["k8s.namespace.name"], cache["regarding"]["namespace"])
          - set(resource.attributes["k8s.application.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Application"
          - set(resource.attributes["k8s.deployment.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Deployment"
          - set(resource.attributes["k8s.job.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Job"
          - set(resource.attributes["k8s.pod.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Pod"
          - set(resource.attributes["k8s.replicaset.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "ReplicaSet"
          - set(resource.attributes["k8s.service.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Service"
          - set(resource.attributes["k8s.tenant.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Tenant"
          # More
          - set(severity_text, cache["type"])
          - set(severity_number, SEVERITY_NUMBER_WARN) where cache["type"] == "Warning"
          - set(attributes["k8s.event.reason"], cache["reason"])
          - set(attributes["k8s.event.type"], cache["type"])
          - set(body, cache["note"])


      k8sattributes:
        extract:
          labels:
          - tag_name: k8s.app.name
            key: app.kubernetes.io/name
            from: pod
          - tag_name: k8s.app.instance
            key: app.kubernetes.io/instance
            from: pod
          - tag_name: k8s.app.version
            key: app.kubernetes.io/version
            from: pod
          - tag_name: k8s.app.component
            key: app.kubernetes.io/component
            from: pod
          - tag_name: k8s.app.part_of
            key: app.kubernetes.io/part-of
            from: pod
          - tag_name: k8s.app.managed_by
            key: app.kubernetes.io/managed-by
            from: pod
          - tag_name: kubitus.tenant.name
            key: kubitus-project.gitlab.io/tenant
            from: namespace

      # k8sobjects
      attributes/trim-kubernetesEvents:
        include:
          match_type: strict
          attributes:
          - key: k8s.resource.name
            value: events
        actions:
        - action: delete
          key: event.name

      # filelog
      attributes/trim-logsCollection:
        include:
          match_type: regexp
          attributes:
          - key: log.file.path
        actions:
        - action: delete
          key: logtag

      resource/trim-k8sattributes:
        attributes:
        - action: delete
          key: k8s.pod.uid
        - action: delete
          key: k8s.pod.start_time
        - action: delete
          key: k8s.container.restart_count
        - action: insert
          key: loki.format
          value: raw
        - action: insert
          key: loki.tenant
          value: tenant_id
        # added by us
        - action: delete
          key: k8s.app.version

      attributes/set-loki-labels:
        actions:
        - action: insert
          key: loki.attribute.labels
          value:
            event.domain,
            k8s.resource.name, k8s.event.type, k8s.event.reason,
            log.file.path, log.iostream,

      # https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/21045
      resource/set-loki-labels:
        attributes:
        - action: insert
          key: loki.resource.labels
          value:
            k8s.namespace.name,
            k8s.application.name,
            k8s.deployment.name, k8s.statefulset.name, k8s.daemonset.name, k8s.replicaset.name,
            k8s.cronjob.name, k8s.job.name,
            k8s.node.name,
            k8s.pod.name,
            k8s.container.name,
            k8s.app.name, k8s.app.instance, k8s.app.component, k8s.app.part_of, k8s.app.managed_by

      transform/loki-tenant:
        error_mode: ignore
        log_statements:
        - context: log
          statements:
          # set namespace from pod namespace
          - set(cache["tenant_namespace"], resource.attributes["k8s.namespace.name"])
          # if pod namespace is ingress-nginx, extract namespace from JSON body
          - set(cache["ingress_nginx_body"], ParseJSON(body))
            where IsMatch(resource.attributes["k8s.namespace.name"], "^ingress-nginx")
            and IsMatch(body, "^\\{")
          - set(cache["tenant_namespace"], cache["ingress_nginx_body"]["namespace"])
            where cache["ingress_nginx_body"]["namespace"] != nil
          # if pod namespace is minio-tenant, extract bucket name from JSON body
          - set(cache["minio_tenant_body"], ParseJSON(body))
            where IsMatch(resource.attributes["k8s.namespace.name"], "^minio-tenant")
            and IsMatch(body, "^\\{")
          - set(cache["minio_bucket"], cache["minio_tenant_body"]["api"]["bucket"])
            where cache["minio_tenant_body"]["api"]["bucket"] != nil
          # default tenant id is 1
          - set(resource.attributes["tenant_id"], "1")
          # use namespace label when available
          - set(resource.attributes["tenant_id"], resource.attributes["kubitus.tenant.name"])
            where resource.attributes["kubitus.tenant.name"] != nil
          {% if tenants %}
          # hardcoded tenants
            {% for tenant in tenants %}
          - set(resource.attributes["tenant_id"], {{ tenant.name | to_json }})
            where IsMatch(cache["tenant_namespace"], {{ ('^(' + tenant.namespaces | join('|') + ')$') | to_json  }})
            {% endfor %}
          {% endif %}
          {% if loki_kube_rbac_proxy_enabled and gitops_instance_variables.ingress_nginx_namespace_is_tenant_regex %}
          # Workaround https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/36670
          # use namespace as tenant from ingress-nginx when available
          - set(resource.attributes["tenant_id"], cache["tenant_namespace"])
            where IsMatch(resource.attributes["k8s.namespace.name"], "^ingress-nginx")
            and IsMatch(body, "^\\{")
            and cache["ingress_nginx_body"]["namespace"] != nil
            and IsMatch(cache["tenant_namespace"], {{ gitops_instance_variables.ingress_nginx_namespace_is_tenant_regex | to_json }})
          {% endif %}
          {% if loki_kube_rbac_proxy_enabled and gitops_instance_variables.minio_tenant_bucket_is_tenant_regex %}
          # use bucket name as tenant from minio-tenant when available
          - set(resource.attributes["tenant_id"], cache["minio_bucket"])
            where IsMatch(resource.attributes["k8s.namespace.name"], "^minio-tenant")
            and IsMatch(body, "^\\{")
            and cache["minio_tenant_body"]["api"]["bucket"] != nil
            and IsMatch(cache["minio_bucket"], {{ gitops_instance_variables.minio_tenant_bucket_is_tenant_regex | to_json }})
          {% endif %}




      {% if gitops_instance_variables.mode == 'deployment' %}
      transform/extract-systemd:
        error_mode: ignore
        log_statements:
        - context: log
          statements:
          - set(resource.attributes["tenant_id"], "1")
          - set(resource.attributes["loki.tenant"], "tenant_id")
          - set(resource.attributes["loki.format"], "raw")

          - set(attributes, body)
          # man systemd.journal-fields(7)
          - set(attributes["loki.attribute.labels"], "
             message_id, priority, code_file, code_line, code_func, errno, syslog_facility, syslog_identifier, syslog_pid,
             pid, uid, gid, comm, exe, cmdline, audit_session, audit_loginuid, systemd_cgroup, systemd_slice, systemd_unit, systemd_user_unit, systemd_user_slice, systemd_session, systemd_owner_uid, hostname, transport,
             kernel_device, kernel_subsystem, udev_sysname, udev_devnode, udev_devlink
             ")
          - set(body, body["message"])
            where IsMap(body) and body["message"] != nil

      transform/attributes-from-json:
        error_mode: ignore
        log_statements:
        - context: log
          statements:
          - merge_maps(attributes, ParseJSON(body), "upsert")


      filter/minio-events: # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/filterprocessor/README.md
        error_mode: ignore
        logs:
          log_record:
          - 'IsMatch(attributes["api"]["name"], "^(GetBucket|List|Head)")'
          - 'IsMatch(attributes["api"]["name"], "(Info|Stats|Status)$")'
      {% endif %}

      {% if gitops_instance_variables.journald_enabled %}
      transform/attributes-from-journald:
        error_mode: ignore
        log_statements:
        - context: log
          statements:
          - set(resource.attributes["service.name"], body["_SYSTEMD_UNIT"])
          # https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7298
          # --- severity level priority
          - set(severity_number, SEVERITY_NUMBER_DEBUG) where Int(body["PRIORITY"]) == 7
          - set(severity_number, SEVERITY_NUMBER_INFO) where Int(body["PRIORITY"]) == 6
          - set(severity_number, SEVERITY_NUMBER_INFO2) where Int(body["PRIORITY"]) == 5
          - set(severity_number, SEVERITY_NUMBER_WARN) where Int(body["PRIORITY"]) == 4
          - set(severity_number, SEVERITY_NUMBER_ERROR) where Int(body["PRIORITY"]) == 3
          - set(severity_number, SEVERITY_NUMBER_FATAL) where Int(body["PRIORITY"]) >= 2
          - set(attributes["priority"], body["PRIORITY"])
          # --- trace who and what generated log message
          - set(attributes["process.comm"], body["_COMM"])
          - set(attributes["process.exec"], body["_EXE"])
          - set(attributes["process.uid"], body["_UID"])
          - set(attributes["process.gid"], body["_GID"])
          - set(attributes["owner_uid"], body["_SYSTEMD_OWNER_UID"])
          - set(attributes["unit"], body["_SYSTEMD_UNIT"])
          - set(attributes["syslog_identifier"], body["SYSLOG_IDENTIFIER"])
          - set(attributes["syslog_identifier_prefix"], ConvertCase(body["SYSLOG_IDENTIFIER"], "lower")) where body["SYSLOG_IDENTIFIER"] != nil
          - replace_pattern(attributes["syslog_identifier_prefix"], "^[^a-zA-Z]*([a-zA-Z]{3,25}).*", "$$1") where body["SYSLOG_IDENTIFIER"] != nil
          - set(attributes["unit_prefix"], ConvertCase(body["_SYSTEMD_UNIT"], "lower")) where body["_SYSTEMD_UNIT"] != nil
          - replace_pattern(attributes["unit_prefix"], "^[^a-zA-Z]*([a-zA-Z]{3,25}).*", "$$1") where body["_SYSTEMD_UNIT"] != nil
          - set(attributes["job"], attributes["syslog_identifier_prefix"])
          - set(attributes["job"], attributes["unit_prefix"]) where attributes["job"] == nil and attributes["unit_prefix"] != nil
          # Remove info copied in attributes
          - delete_matching_keys(body, "PRIORITY|_COMM|_EXE|_UID|_GID|_SYSTEMD_OWNER_UID|_SYSTEMD_UNIT|SYSLOG_IDENTIFIER")
          # - set(body, body["MESSAGE"])

      {% endif %}
      {% if gitops_instance_variables.extra_filters %}
      {{ gitops_instance_variables.extra_filters | to_nice_yaml(indent=2) | indent(width=6) }}
      {% endif %}

    {% if gitops_instance_variables.connectors %}
    connectors:
      {{ gitops_instance_variables.connectors | to_nice_yaml(indent=2) | indent(width=6) }}
    {% endif %}

    exporters:
      loki:
        endpoint: http://loki.loki.svc:3100/loki/api/v1/push
        tls:
          insecure: true

      {% if gitops_instance_variables.journald_enabled %}
      otlphttp/loki:
        endpoint:  http://loki.loki.svc:3100/otlp
        tls:
          insecure: true
        auth:
          authenticator: headers_setter/loki-default-tenant

      {% endif %}
      nop: {}

      {% if gitops_instance_variables.extra_exporters %}
      {{ gitops_instance_variables.extra_exporters | to_nice_yaml(indent=2) | indent(width=6) }}
      {% endif %}

    receivers:
      {% if gitops_instance_variables.journald_enabled %}
      journald:
        directory: /var/log/journal
        storage: file_storage
        retry_on_failure:
          enabled: true

      {% endif %}
      webhookevent/minio:
        endpoint: ${env:MY_POD_IP}:9444
        path: "/eventsource/receiver"
        health_path: "/eventreceiver/healthcheck"

    service:
      extensions:
        - health_check
        {% if gitops_instance_variables.journald_enabled %}
        - file_storage
        # Added:
        - headers_setter/loki-default-tenant
        {% endif %}

      pipelines:
        logs:
          receivers:
          {% if gitops_instance_variables.logs_collection_enabled %}
          - filelog
          {% endif %}
          {% if gitops_instance_variables.kubernetes_events_enabled %}
          - k8sobjects
          {% endif %}
          processors:
          - memory_limiter
          {% if gitops_instance_variables.kubernetes_events_enabled %}
          - transform/flatten-kubernetesEvents
          {% endif %}
          - k8sattributes
          - attributes/trim-kubernetesEvents
          - attributes/trim-logsCollection
          - resource/trim-k8sattributes
          - attributes/set-loki-labels
          - resource/set-loki-labels
          - transform/loki-tenant
          - batch
          exporters:
          - loki
          {% if gitops_instance_variables.pipeline_logs_extra_exporters %}
          {{ gitops_instance_variables.pipeline_logs_extra_exporters | to_nice_yaml(indent=2) | indent(width=10) }}
          {% endif %}

        {% if gitops_instance_variables.extra_pipelines %}
        {{ gitops_instance_variables.extra_pipelines | to_nice_yaml(indent=2) | indent(width=8) }}
        {% endif %}

        {% if gitops_instance_variables.mode == 'deployment' %}
        logs/2:
          receivers:
          - otlp
          processors:
          - memory_limiter
          - transform/extract-systemd
          - batch
          exporters:
          - loki
          {% if gitops_instance_variables.pipeline_logs2_extra_exporters %}
          {{ gitops_instance_variables.pipeline_logs2_extra_exporters | to_nice_yaml(indent=2) | indent(width=10) }}
          {% endif %}

        logs/minio:
          receivers:
          - webhookevent/minio
          processors:
          - memory_limiter
          - k8sattributes
          - resource/trim-k8sattributes
          - transform/attributes-from-json
          - filter/minio-events
          - attributes/set-loki-labels
          - resource/set-loki-labels
          - transform/loki-tenant
          - batch
          exporters:
          - loki
        {% endif %}

        {% if gitops_instance_variables.journald_enabled %}
        logs/journald:
          receivers:
          - journald
          processors:
          - memory_limiter
          - transform/attributes-from-journald
          - batch
          exporters:
          - otlphttp/loki
        {% endif %}

        metrics:
          exporters:
          - nop

        traces:
          exporters:
          - nop



  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}



  {% if gitops_instance_variables.mode == 'daemonset' %}
  tolerations:
    - effect: NoExecute
      operator: Exists
    - effect: NoSchedule
      operator: Exists



  {% endif %}
  {% if gitops_instance_variables.journald_enabled %}
  extraVolumes:
    - name: lib
      hostPath:
        path: /lib
    - name: lib64
      hostPath:
        path: /lib64
    - name: usr-bin-journalctl
      hostPath:
        path: /usr/bin/journalctl
    - name: usr-lib
      hostPath:
        path: /usr/lib
    - name: var-log-journal
      hostPath:
        path: /var/log/journal
  {% if not gitops_instance_variables.logs_collection_enabled %}
    - name: var-lib-otelcol
      hostPath:
        path: /var/lib/otelcol
  {% endif %}



  extraVolumeMounts:
    - name: lib
      mountPath: /lib
      readOnly: true
    - name: lib64
      mountPath: /lib64
      readOnly: true
    - name: usr-bin-journalctl
      mountPath: /usr/bin/journalctl
      readOnly: true
    - name: usr-lib
      mountPath: /usr/lib
      readOnly: true
    - name: var-log-journal
      mountPath: /var/log/journal
      readOnly: true
  {% if not gitops_instance_variables.logs_collection_enabled %}
    - name: var-lib-otelcol
      mountPath: /var/lib/otelcol
  {% endif %}



  {% endif %}
  ports:
    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}
    webhookevent:
      enabled: true
      containerPort: 9444
      servicePort: 9444
      protocol: TCP



  resources:
    requests:
      {% if gitops_instance_variables.memory_request %}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_request %}
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      {% endif %}


    limits:
      {% if gitops_instance_variables.memory_limit %}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_limit %}
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      {% endif %}



  podMonitor:
    enabled: {{ prometheus_stack_enabled | to_json }}


    extraLabels:
      release: prometheus-stack



  serviceMonitor:
    enabled: {{ prometheus_stack_enabled | to_json }}


    extraLabels:
      release: prometheus-stack



  prometheusRule:
    enabled: {{ prometheus_stack_enabled | to_json }}


    defaultRules:
      enabled: true


    extraLabels:
      release: prometheus-stack
