# https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph/values.yaml
rook-ceph:
  image:
    {{ gitops_instance_variables.operator_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  resources:
    requests:
      {% if gitops_instance_variables.operator_memory_request %}
      memory: {{ gitops_instance_variables.operator_memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.operator_cpu_request %}
      cpu: {{ gitops_instance_variables.operator_cpu_request | to_json }}
      {% endif %}
    limits:
      {% if gitops_instance_variables.operator_memory_limit %}
      memory: {{ gitops_instance_variables.operator_memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.operator_cpu_limit %}
      cpu: {{ gitops_instance_variables.operator_cpu_limit | to_json }}
      {% endif %}


  csi:
    cephcsi:
      image: {{ gitops_instance_variables.cephcsi_image | to_json }}
    registrar:
      image: {{ gitops_instance_variables.csi_registrar_image | to_json }}
    provisioner:
      image: {{ gitops_instance_variables.csi_provisioner_image | to_json }}
    snapshotter:
      image: {{ gitops_instance_variables.csi_snapshotter_image | to_json }}
    attacher:
      image: {{ gitops_instance_variables.csi_attacher_image | to_json }}
    resizer:
      image: {{ gitops_instance_variables.csi_resizer_image | to_json }}


  monitoring:
    enabled: true



rook-ceph-cluster:
  toolbox:
    enabled: true
    image: {{ gitops_instance_variables.operator_image | to_json }}

  resources:
    requests:
      {% if gitops_instance_variables.toolbox_memory_request %}
      memory: {{ gitops_instance_variables.toolbox_memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.toolbox_cpu_request %}
      cpu: {{ gitops_instance_variables.toolbox_cpu_request | to_json }}
      {% endif %}
    limits:
      {% if gitops_instance_variables.toolbox_memory_limit %}
      memory: {{ gitops_instance_variables.toolbox_memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.toolbox_cpu_limit %}
      cpu: {{ gitops_instance_variables.toolbox_cpu_limit | to_json }}
      {% endif %}


  monitoring:
    enabled: true
    createPrometheusRules: true
    prometheusRule:
      labels:
        release: prometheus-stack


  cephClusterSpec:
    cephVersion:
      image: {{ gitops_instance_variables.ceph_image | to_json }}

    dashboard:
      ssl: false

    resources:
      {{ gitops_instance_variables.cluster_spec_resource_overrides | to_yaml(default_flow_style=False, width=1337)  | indent(width=6) }}

    removeOSDsIfOutAndSafeToRemove:  {{ gitops_instance_variables.remove_osds_if_out_and_safe_to_remove | to_json }}

    storage:
      useAllNodes: {{ gitops_instance_variables.storage_use_all_nodes | to_json }}
      useAllDevices: {{ gitops_instance_variables.storage_use_all_devices | to_json }}
      deviceFilter: {{ gitops_instance_variables.storage_device_filter | to_json }}

    labels:
      monitoring:
        release: prometheus-stack


  ingress:
    dashboard:
      {% if gitops_instance_variables.mgr_dashboard_ingress_certificate_issuer != "none" %}
      annotations:
        cert-manager.io/cluster-issuer: {{ gitops_instance_variables.mgr_dashboard_ingress_certificate_issuer | to_json }}
      {% endif %}
      host:
        name: {{ gitops_instance_variables.mgr_dashboard_fqdn | to_json }}
      tls:
      - hosts:
        - {{ gitops_instance_variables.mgr_dashboard_fqdn | to_json }}
        {% if gitops_instance_variables.mgr_dashboard_ingress_certificate_issuer != "none" %}
        secretName: rook-ceph.{{ gitops_instance_variables.mgr_dashboard_fqdn }}-tls
        {% endif %}
      ingressClassName: {{ gitops_instance_variables.ingress_class | to_json }}

  {% if not gitops_instance_variables.cephfs_enabled %}
  cephFileSystems: []
  {% endif %}

  cephBlockPoolsVolumeSnapshotClass:
    enabled: true
    annotations:
      argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    labels:
      velero.io/csi-volumesnapshot-class: "true"
  {% if not gitops_instance_variables.objectstore_enabled %}


  cephObjectStores: []
  {% endif %}
