#!/bin/sh

# =================================================================
# Functions
# =================================================================
usage() {
    echo "kubitus-playbook INVENTORY PLAYBOOK [--tags TAG] [-t TAG] [OPTIONS]"
    echo
    echo "Wrapper to ansible-playbook."
    exit 1
}

completion() {
    echo "__KUBITUS_INSTALLER_DIR=\"$KI_DIR\""
    echo "__KUBITUS_INVENTORIES_DIR=\"$INVENTORIES_DIR\""
cat <<'EOF'
__kubitus_playbook()
{
    local cur prev words cword
    _init_completion || return

    case $prev in
        '-t'|'--tags'|'--skip-tags')
            local realcur prefix ROLES ROLE ROLE_COLS ROLE_NAME TASKS TASK
            realcur="${cur##*,}"
            prefix="${cur%$realcur}"
            ROLES="$(ls "$__KUBITUS_INSTALLER_DIR/roles" | sed s/_/-/g)"
            for ROLE in $ROLES; do
                if ! [[ $prefix == *"$ROLE"* ]]; then
                    ROLE_COLS="$ROLE ${ROLE_COLS:-""}"
                fi
            done
            ROLE_NAME="${realcur%%_*}"
            if [[ -d "$__KUBITUS_INSTALLER_DIR/roles/$ROLE_NAME/tasks" ]]; then
                TASKS="$(ls "$__KUBITUS_INSTALLER_DIR/roles/$ROLE_NAME/tasks" | grep '\.yml$' | sed -e 's/\.yml$//' -e s/_/-/g)"
                for TASK in $TASKS; do
                    # if ! [[ $prefix == *"$cur_$TASK"* ]]; then
                        ROLE_COLS="${ROLE_NAME}_$TASK ${ROLE_COLS:-""}"
                    # fi
                done
            fi
            compopt -o nospace
            COMPREPLY=( $(compgen -P "$prefix" -W "$ROLE_COLS" -- $realcur) )
            return 0
            ;;
    esac
    if [ "$cword" = 1 ]; then
        local realcur prefix INVENTORIES INVENTORY INVENTORY_COLS
        realcur="${cur##*,}"
        prefix="${cur%$realcur}"
        INVENTORIES="$(ls "$__KUBITUS_INVENTORIES_DIR")"
        for INVENTORY in $INVENTORIES; do
            if ! [[ $prefix == *"$INVENTORY"* ]]; then
                if [[ -f "$__KUBITUS_INVENTORIES_DIR/$INVENTORY/inventory.yml" ]]; then
                    INVENTORY_COLS="$INVENTORY ${INVENTORY_COLS:-""}"
                fi
            fi
        done
        COMPREPLY=( $(compgen -P "$prefix" -W "$INVENTORY_COLS" -- $realcur) )
        return 0
    fi
    if [ "$cword" = 2 ]; then
        local realcur prefix PLAYBOOKS PLAYBOOK_COLS PLAYBOOK
        realcur="${cur##*,}"
        prefix="${cur%$realcur}"
        PLAYBOOKS="$(ls "$__KUBITUS_INSTALLER_DIR" | grep '\.yml$')"
        for PLAYBOOK in $PLAYBOOKS; do
            if ! [[ $prefix == *"$PLAYBOOK"* ]]; then
                PLAYBOOK_COLS="$PLAYBOOK ${PLAYBOOK_COLS:-""}"
            fi
        done
        COMPREPLY=( $(compgen -P "$prefix" -W "$PLAYBOOK_COLS" -- $realcur) )
        return 0
    fi
    OPTS="
        -K
        --ask-become-pass
        -k
        --ask-pass
        --check
        --diff
        -e
        --extra-vars
        -l
        --limit
        --list-hosts
        --list-tags
        --list-tasks
        --skip-tags
        --step
        --syntax-check
        -t
        --tags
        -u
        --user
        -v
        -vvv
        -wwww
        "
    COMPREPLY=( $(compgen -W "${OPTS[*]}" -- $cur) )
    return 0
}

complete -F __kubitus_playbook kubitus-playbook
EOF
}

# =================================================================
# Templated variables
# =================================================================
KI_DIR={{ lookup('env', 'PWD') | to_json }}
INVENTORIES_DIR={{ ansible_inventory_sources | last | dirname | dirname | to_json }}

test -x "$KI_DIR" || exit

cd "$KI_DIR"

# =================================================================
# Positional arguments
# =================================================================
INVENTORY="$1"
if [ -z "$INVENTORY" ]; then
    echo "Missing argument: INVENTORY" >&2
    echo >&2
    usage
fi
if [ "$INVENTORY" = 'completion' ]; then
    completion
    exit
fi
shift

PLAYBOOK="$1"
if [ -z "$PLAYBOOK" ]; then
    echo "Missing argument: PLAYBOOK" >&2
    echo >&2
    usage
fi
shift

# =================================================================
# Checks
# =================================================================
INVENTORY_YAML="$INVENTORIES_DIR/$INVENTORY/inventory.yml"
if [ ! -r "$INVENTORY_YAML" ]; then
    echo "Inventory not found: $INVENTORY_YAML" >&2
    echo >&2
    usage
fi

if [ ! -r "$KI_DIR/$PLAYBOOK" ]; then
    echo "Playbook file not found: $KI_DIR/$PLAYBOOK" >&2
    echo >&2
    usage
fi


# =================================================================
# Execution
# =================================================================
inventories_args=""
if [ -d "$INVENTORIES_DIR/common" ]; then
    inventories_args="-i $INVENTORIES_DIR/common"
fi
inventories_args="$inventories_args -i $INVENTORY_YAML"

set -x
ansible-playbook \
  $inventories_args \
  "$PLAYBOOK" \
  "$@"
