{% if gitops_instance_variables.oidc_enabled %}
oidc_ips: {{ netpol_fqdn2ips.get(gitops_instance_variables.oidc_config_url | urlsplit('hostname'), []) | to_json }}

{% endif %}
gitops_instance_variables:
  api_service_from_cidrs:
    {{ gitops_instance_variables.api_service_from_cidrs | to_nice_yaml(indent=2) | indent(4) }}
  console_service_from_cidrs:
    {{ gitops_instance_variables.console_service_from_cidrs | to_nice_yaml(indent=2) | indent(4) }}

tenant:
  tenant:
    name: default

    image:
      {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    configuration:
      name: minio-env-configuration

    configSecret:
      name: this-should-not-exists
      accessKey: ''
      secretKey: ''
      existingSecret: true

    pools:
      {% for pool in gitops_instance_variables.pools %}
      - {{
          {
            'servers': 4,
            'volumesPerServer': 4,
            'size': '10Gi',
            'annotations': {
              'checksum/config':
                gitops_instance_variables.sealed_secret_minio_env_configuration_data_config_env_value |
                hash('sha256')
            },
            'securityContext': {
              'runAsUser': 1000,
              'runAsGroup': 1000,
              'fsGroup': 1000,
              'fsGroupChangePolicy': 'OnRootMismatch',
              'runAsNonRoot': true,
            },
            'containerSecurityContext': {
              'runAsUser': 1000,
              'runAsGroup': 1000,
              'runAsNonRoot': true,
              'allowPrivilegeEscalation': false,
              'capabilities': { 'drop': ['ALL'] },
              'seccompProfile': { 'type': 'RuntimeDefault' },
            },
            'resources': {
              'requests': {
                'memory': gitops_instance_variables.memory_request
              },
              'limits': {
                'memory': gitops_instance_variables.memory_limit
              }
            }
          } |
          combine(pool, recursive=true) |
          to_nice_yaml(indent=2) |
          indent(width=8)
        }}
      {% endfor %}

    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}

    certificate:
      externalCertSecret:
      - name: tls-api
        type: kubernetes.io/tls
      - name: tls-console
        type: kubernetes.io/tls

    {% if gitops_instance_variables.api_service_type == 'LoadBalancer' or gitops_instance_variables.console_service_type == 'LoadBalancer' %}
    exposeServices:
      {% if gitops_instance_variables.api_service_type == 'LoadBalancer' %}
      minio: true
      {% endif %}
      {% if gitops_instance_variables.console_service_type == 'LoadBalancer' %}
      console: true
      {% endif %}
    {% endif %}

    logging:
      quiet: {{ gitops_instance_variables.logging_quiet | to_json }}
      anonymous: {{ gitops_instance_variables.logging_anonymous | to_json }}
      json: {{ gitops_instance_variables.logging_json | to_json }}

    {% if gitops_instance_variables.api_load_balancer_ip or gitops_instance_variables.console_load_balancer_ip %}
    serviceMetadata:
      {% if gitops_instance_variables.api_load_balancer_ip %}
      minioServiceAnnotations:
        metallb.universe.tf/loadBalancerIPs: {{ gitops_instance_variables.api_load_balancer_ip | to_json }}
      {% endif %}
      {% if gitops_instance_variables.console_load_balancer_ip %}
      consoleServiceAnnotations:
        metallb.universe.tf/loadBalancerIPs: {{ gitops_instance_variables.console_load_balancer_ip | to_json }}
      {% endif %}
    {% endif %}


  ingress:
    api:
      enabled: {{ gitops_instance_variables.api_ingress_enabled | to_json }}
      ingressClassName: {{ gitops_instance_variables.api_ingress_class | default(gitops_instance_variables.ingress_class) | to_json }}
      annotations:
        {% if gitops_instance_variables.api_ingress_certificate_issuer != 'none' %}
        cert-manager.io/cluster-issuer: {{ gitops_instance_variables.api_ingress_certificate_issuer | to_json }}
        {% endif %}
        nginx.ingress.kubernetes.io/backend-protocol: HTTPS
        # https://min.io/docs/minio/linux/integrations/setup-nginx-proxy-with-minio.html
        # https://github.com/minio/operator/blob/master/docs/nginx-ingress.md
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
        nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
        nginx.ingress.kubernetes.io/proxy-buffering: "off"
        nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
        nginx.ingress.kubernetes.io/configuration-snippet: |
            chunked_transfer_encoding off;
      tls:
      - hosts:
        - {{ gitops_instance_variables.api_fqdn | to_json }}
        {% if gitops_instance_variables.api_ingress_certificate_issuer != 'none' %}
        secretName: "{{ gitops_instance_variables.api_fqdn }}-tls"
        {% endif %}
      host: {{ gitops_instance_variables.api_fqdn | to_json }}

    console:
      enabled: {{ gitops_instance_variables.console_ingress_enabled | to_json }}
      ingressClassName: {{ gitops_instance_variables.console_ingress_class | default(gitops_instance_variables.ingress_class) | to_json }}
      annotations:
        {% if gitops_instance_variables.console_ingress_certificate_issuer != 'none' %}
        cert-manager.io/cluster-issuer: {{ gitops_instance_variables.console_ingress_certificate_issuer | to_json }}
        {% endif %}
        nginx.ingress.kubernetes.io/backend-protocol: HTTPS
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
        nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"
      tls:
      - hosts:
        - {{ gitops_instance_variables.console_fqdn | to_json }}
        {% if gitops_instance_variables.console_ingress_certificate_issuer != 'none' %}
        secretName: "{{ gitops_instance_variables.console_fqdn }}-tls"
        {% endif %}
      host: {{ gitops_instance_variables.console_fqdn | to_json }}
