{% if gitops_instance_variables.backup_s3_url %}
backup_s3_ips: {{ netpol_fqdn2ips.get(gitops_instance_variables.backup_s3_url | urlsplit('hostname'), []) | to_json }}
backup_s3_port: {{ gitops_instance_variables.backup_s3_url | urlsplit('port') }}
{% endif %}

# https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/values.yaml
velero:
  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  resources:
    requests:
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
    limits:
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}


  initContainers:
  - name: velero-plugin-for-aws
    image: {{ gitops_instance_variables.plugin_for_aws_image | to_json }}
    resources:
      requests:
        cpu: 1m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 64Mi
    volumeMounts:
      - mountPath: /target
        name: plugins


  metrics:
    podAnnotations: {}

    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus-stack

    prometheusRule:
      enabled: true
      additionalLabels:
        release: prometheus-stack
      spec:
      {% raw %}
      - alert: VeleroBackupPartialFailures
        annotations:
          message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} partialy failed backups.
        expr: |-
          velero_backup_partial_failure_total{schedule!=""} / velero_backup_attempt_total{schedule!=""} > 0.25
        for: 15m
        labels:
          severity: warning
      - alert: VeleroBackupFailures
        annotations:
          message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} failed backups.
        expr: |-
          velero_backup_failure_total{schedule!=""} / velero_backup_attempt_total{schedule!=""} > 0.25
        for: 15m
        labels:
          severity: warning
      {% endraw %}


  upgradeCRDs: false


  configuration:
    backupStorageLocation:
    - name: {{ gitops_instance_variables.backup_name | to_json }}
      provider: {{ gitops_instance_variables.provider | to_json }}
      bucket: {{ gitops_instance_variables.backup_bucket | to_json }}
      {% if gitops_instance_variables.backup_ca_cert %}
      caCert: {{ gitops_instance_variables.backup_ca_cert | b64encode | to_json }}
      {% endif %}
      config:
        region: {{ gitops_instance_variables.backup_region | to_json }}
        s3ForcePathStyle: true
        s3Url: {{ gitops_instance_variables.backup_s3_url | to_json }}
        {% if gitops_instance_variables.backup_checksum_algorithm is not none %}
        checksumAlgorithm: {{ gitops_instance_variables.backup_checksum_algorithm | to_json }}
        {% endif %}

    volumeSnapshotLocation:
    - name: {{ gitops_instance_variables.volume_snapshot_name | to_json }}
      provider: {{ gitops_instance_variables.provider | to_json }}
      config:
        region: {{ gitops_instance_variables.volume_snapshot_region | to_json }}

    {% if gitops_instance_variables.csi_enabled %}
    features: EnableCSI

    {% endif %}
    extraEnvVars:
      TZ: {{ gitops_instance_variables.timezone | to_json }}


  credentials:
    existingSecret: velero


  schedules:
    {{ gitops_instance_variables.schedules | to_nice_yaml(indent=2) | indent(width=4) }}
