{% if gitops_instance_variables.ironic_ipa_downloader_ca_certificates %}
ironic_ipa_downloader_ca_certificates: {{ gitops_instance_variables.ironic_ipa_downloader_ca_certificates | to_json }}

{% endif %}
metal3:
  global:
    createNamespace: false



  baremetalOperator:
    image:
      {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}


    ironicConfig:
      # HTTP_PORT: 6180
      # PROVISIONING_INTERFACE: eth2
      # DHCP_RANGE: 172.22.0.10,172.22.0.100
      # DEPLOY_KERNEL_URL: http://172.22.0.2:6180/images/ironic-python-agent.kernel
      # DEPLOY_RAMDISK_URL: http://172.22.0.2:6180/images/ironic-python-agent.initramfs
      # IRONIC_ENDPOINT: http://172.22.0.2:6385/v1/
      CACHEURL: "" # example: http://172.22.0.1/images


    # ironicCredentials:
    #   existingSecret: ironic-credentials
    

    kubeRbacProxy:
      image:
        {{ gitops_instance_variables.kube_rbac_proxy_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}


    serviceMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}



  ironic:
    image:
      {{ gitops_instance_variables.ironic_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}


    mariadb:
      image:
        {{ gitops_instance_variables.mariadb_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}


    keepalived:
      image:
        {{ gitops_instance_variables.keepalived_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}


    ironicIpaDownloader:
      image:
        {{ gitops_instance_variables.ironic_ipa_downloader_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      {% if gitops_instance_variables.ironic_ipa_downloader_ca_certificates %}

      extraVolumeMounts:
      - name: ironic-ipa-downloader-cacerts
        mountPath: /run/ironic-ipa-downloader-cacerts
        readOnly: true
      {% endif %}

    ironicBmoConfig:
      # HTTP_PORT: 6180
      # PROVISIONING_IP: 172.22.0.2
      PROVISIONING_INTERFACE: {{ gitops_instance_variables.provisioning_interface | to_json }}
      # DHCP_RANGE: 172.22.0.10,172.22.0.100
      # DEPLOY_KERNEL_URL: http://172.22.0.2:6180/images/ironic-python-agent.kernel
      # DEPLOY_RAMDISK_URL: http://172.22.0.2:6180/images/ironic-python-agent.initramfs
      # IRONIC_ENDPOINT: http://172.22.0.2:6385/v1/
      CACHEURL: "" # example: http://172.22.0.1/images
      # IRONIC_KERNEL_PARAMS: console=ttyS0
      # USE_IRONIC_INSPECTOR: false
      # RESTART_CONTAINER_CERTIFICATE_UPDATED: false

      {% if offline_enabled %}
      CURL_INSECURE: true  # FIXME
      IPA_BASEURI: https://{{ gitlab_fqdn }}/api/v4/projects/external-packages%2Fironic-python-agent/packages/generic/ipa/{{ gitops_instance_variables.ironic_python_agent_branch }}
      IPA_BRANCH: {{ gitops_instance_variables.ironic_python_agent_branch | to_json }}
      IPA_FLAVOR: {{ gitops_instance_variables.ironic_python_agent_flavor | to_json }}
      {% endif %}
      {% if gitops_instance_variables.ironic_ipa_downloader_ca_certificates %}
      CURL_CA_BUNDLE: /run/ironic-ipa-downloader-cacerts/ca-bundle.crt
      {% endif %}
    {% if gitops_instance_variables.ironic_ipa_downloader_ca_certificates %}

    extraVolumes:
    - name: ironic-ipa-downloader-cacerts
      configMap:
        name: ironic-ipa-downloader-cacerts
    {% endif %}
