opentelemetry_collector_enabled: {{ opentelemetry_collector_enabled |  to_json }}

# https://github.com/grafana/loki/blob/main/production/helm/loki/values.yaml
loki:
  global:
    dnsService: coredns


  deploymentMode: SingleBinary


  kubectlImage:
    {{ gitops_instance_variables.kubectl_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  loki:
    image:
      {{ gitops_instance_variables.image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    podSecurityContext:
      fsGroupChangePolicy: OnRootMismatch

    {% if tenants and not gitops_instance_variables.kube_rbac_proxy_enabled %}
    tenants: true

    {% endif %}
    limits_config:
      retention_period: {{ gitops_instance_variables.retention_period | to_json }}
      # enforce_metric_name: false
      # reject_old_samples: true
      # reject_old_samples_max_age: 168h
      split_queries_by_interval: {{ gitops_instance_variables.split_queries_by_interval | to_json }}
      ingestion_rate_mb: {{ gitops_instance_variables.ingestion_rate_mb | to_json }}
      ingestion_burst_size_mb: {{ gitops_instance_variables.ingestion_burst_size_mb | to_json }}
      max_query_length: {{ gitops_instance_variables.max_query_length | to_json }}
      {% if gitops_instance_variables.max_query_parallelism %}
      max_query_parallelism: {{ gitops_instance_variables.max_query_parallelism | to_json }}
      {% endif %}

    {% if gitops_instance_variables.max_outstanding_requests_per_tenant %}
    query_scheduler:
      max_outstanding_requests_per_tenant: {{ gitops_instance_variables.max_outstanding_requests_per_tenant | to_json }}

    {% endif %}
    {% if gitops_instance_variables.max_outstanding_per_tenant %}
    frontend:
      max_outstanding_per_tenant: {{ gitops_instance_variables.max_outstanding_per_tenant | to_json }}

    {% endif %}
    commonConfig:
      replication_factor: 1

    schemaConfig:
      configs:
        {{ gitops_instance_variables.schemaconfigs | to_nice_yaml(indent=2) | indent(width=8) }}

    storage:
      type: filesystem

    rulerConfig:
      storage:
        type: local

    compactor:
      # compaction_interval: 10m
      retention_enabled: {{ gitops_instance_variables.retention_enabled | to_json }}
      # retention_delete_delay: 2h
      # retention_delete_worker_count: 150
      delete_request_store: filesystem

    analytics:
      reporting_enabled: false


  memberlist:
    service:
      publishNotReadyAddresses: true


  gateway:
    {% if tenants or gitops_instance_variables.kube_rbac_proxy_enabled %}
    enabled: true
    {% else %}
    enabled: false
    {% endif %}
    image:
      {{ gitops_instance_variables.gateway_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    service:
      labels:
        # FIXME workaround https://github.com/grafana/loki/issues/13201
        prometheus.io/service-monitor: 'false'

    resources:
      requests:
        {% if gitops_instance_variables.gateway_memory_request %}
        memory: {{ gitops_instance_variables.gateway_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.gateway_cpu_request %}
        cpu: {{ gitops_instance_variables.gateway_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.gateway_memory_limit %}
        memory: {{ gitops_instance_variables.gateway_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.gateway_cpu_limit %}
        cpu: {{ gitops_instance_variables.gateway_cpu_limit | to_json }}
        {% endif %}

    {% if not gitops_instance_variables.kube_rbac_proxy_enabled %}
    basicAuth:
      enabled: true
      existingSecret: kubitus-basic-auth

    {% endif %}
    nginxConfig:
      resolver: 169.254.25.10  # nodelocaldns

    {% if gitops_instance_variables.kube_rbac_proxy_enabled %}
    extraContainers:
      - name: kube-rbac-proxy
        args:
          - --secure-listen-address=:8100
          - --upstream=http://127.0.0.1:8080
          - --proxy-endpoints-port=8888
          - --config-file=/etc/kube-rbac-proxy-config/config-file.yaml
        volumeMounts:
          - name: kube-rbac-proxy-config
            mountPath: etc/kube-rbac-proxy-config
        imagePullPolicy: IfNotPresent
        image: {{ gitops_instance_variables.kube_rbac_proxy_image | to_json }}
        ports:
          - containerPort: 8100
            name: krp
          - containerPort: 8888
            name: krp-healthz
        readinessProbe:
          httpGet:
            scheme: HTTPS
            port: 8888
            path: healthz
          initialDelaySeconds: 5
          timeoutSeconds: 5
        # resources: FIXME
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL

    extraVolumes:
      - name: kube-rbac-proxy-config
        configMap:
          name: loki-rbac-config

    {% endif %}

  test:
    enabled: false


  lokiCanary:
    enabled: false


  monitoring:
    enabled: true

    rules:
      labels:
        release: prometheus-stack

    serviceMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}
      labels:
        release: prometheus-stack
      metricsInstance:
        enabled: false


  write:
    replicas: 0

    persistence:
      size: {{ gitops_instance_variables.write_persistence_size | to_json }}

    resources:
      requests:
        {% if gitops_instance_variables.write_memory_request %}
        memory: {{ gitops_instance_variables.write_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.write_cpu_request %}
        cpu: {{ gitops_instance_variables.write_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.write_memory_limit %}
        memory: {{ gitops_instance_variables.write_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.write_cpu_limit %}
        cpu: {{ gitops_instance_variables.write_cpu_limit | to_json }}
        {% endif %}


  read:
    replicas: 0

    persistence:
      size: {{ gitops_instance_variables.read_persistence_size | to_json }}

    resources:
      requests:
        {% if gitops_instance_variables.read_memory_request %}
        memory: {{ gitops_instance_variables.read_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.read_cpu_request %}
        cpu: {{ gitops_instance_variables.read_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.read_memory_limit %}
        memory: {{ gitops_instance_variables.read_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.read_cpu_limit %}
        cpu: {{ gitops_instance_variables.read_cpu_limit | to_json }}
        {% endif %}


  singleBinary:
    replicas: 1

    persistence:
      enableStatefulSetAutoDeletePVC: false  # FIXME alpha since 1.22
      size: {{ gitops_instance_variables.single_binary_persistence_size | to_json }}

    resources:
      requests:
        {% if gitops_instance_variables.single_binary_memory_request %}
        memory: {{ gitops_instance_variables.single_binary_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.single_binary_cpu_request %}
        cpu: {{ gitops_instance_variables.single_binary_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.single_binary_memory_limit %}
        memory: {{ gitops_instance_variables.single_binary_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.single_binary_cpu_limit %}
        cpu: {{ gitops_instance_variables.single_binary_cpu_limit | to_json }}
        {% endif %}


  backend:
    replicas: 0


  memcached:
    image:
      {{ gitops_instance_variables.memcached_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}
    containerSecurityContext:
      runAsUser: 11211


  memcachedExporter:
    image:
      {{ gitops_instance_variables.memcached_exporter_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}
    containerSecurityContext:
      runAsUser: 65534


  resultsCache:
    allocatedMemory: {{ gitops_instance_variables.results_cache_allocated_memory_mb | to_json }}


  chunksCache:
    allocatedMemory: {{ gitops_instance_variables.chunks_cache_allocated_memory_mb | to_json }}

  sidecar:
    image:
      {{ gitops_instance_variables.sidecar_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}
