# https://github.com/fluent/helm-charts/blob/main/charts/fluent-bit/values.yaml
fluent-bit:
  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}

  securityContext:
    runAsNonRoot: false

  serviceMonitor:
    enabled: {{ prometheus_stack_enabled | to_json }}
    selector:
      release: prometheus-stack

  prometheusRule:
    enabled: {{ prometheus_stack_enabled | to_json }}
    additionalLabels:
      release: prometheus-stack
    rules:
    {% raw %}
    - alert: NoOutputBytesProcessed
      expr: rate(fluentbit_output_proc_bytes_total[5m]) == 0
      annotations:
        message: |
          Fluent Bit instance {{ $labels.instance }}'s output plugin {{ $labels.name }} has not processed any
          bytes for at least 30 minutes.
        summary: No Output Bytes Processed
      for: 30m
      labels:
        severity: critical
    {% endraw %}

  dashboards:
    enabled: {{ prometheus_stack_enabled | to_json }}

  resources:
    requests:
      {% if gitops_instance_variables.memory_request %}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_request %}
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      {% endif %}

    limits:
      {% if gitops_instance_variables.memory_limit %}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_limit %}
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      {% endif %}

  config:
    ## https://docs.fluentbit.io/manual/pipeline/inputs
    inputs: |
      [INPUT]
          Name systemd
          Tag host.*
          DB /var/lib/fluent-bit/systemd.db
          Lowercase On
          Strip_Underscores On

    ## https://docs.fluentbit.io/manual/pipeline/filters
    filters: ''

    ## https://docs.fluentbit.io/manual/pipeline/outputs
    outputs: |
      [OUTPUT]
          Name opentelemetry
          Match host.*
          Host opentelemetry-collector-deployment.opentelemetry-collector-deployment.svc
          Port 4318
          Metrics_uri /v1/metrics
          Logs_uri  /v1/logs
          Traces_uri /v1/traces

  daemonSetVolumes:
    - name: varlibfluentbit
      hostPath:
        path: /var/lib/fluent-bit
    - name: varlogjournal
      hostPath:
        path: /var/log/journal
    - name: etcmachineid
      hostPath:
        path: /etc/machine-id
        type: File

  daemonSetVolumeMounts:
    - name: varlibfluentbit
      mountPath: /var/lib/fluent-bit
    - name: varlogjournal
      mountPath: /var/log/journal
      readOnly: true
    - name: etcmachineid
      mountPath: /etc/machine-id
      readOnly: true
