options {
	directory "/var/cache/bind";

	// If there is a firewall between you and nameservers you want
	// to talk to, you may need to fix the firewall to allow multiple
	// ports to talk.  See http://www.kb.cert.org/vuls/id/800113

	// If your ISP provided one or more IP addresses for stable
	// nameservers, you probably want to use them as forwarders.
	// Uncomment the following block, and insert the addresses replacing
	// the all-0's placeholder.

	{% if bind_forwarders %}
	forwarders {
		{% for bind_forwarder in bind_forwarders %}
		{{ bind_forwarder }};
		{% endfor %}
	};
	{% else %}
	// forwarders {
	// 	0.0.0.0;
	// };
	{% endif %}

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	dnssec-validation auto;

	listen-on-v6 { any; };

	allow-recursion { any; };
};
