argocd-apps:
  applications:
    {{ gitops_instance_variables.applications | to_yaml(default_flow_style=False, width=1337)  | indent(width=4) }}
  applicationsets:
    {{ gitops_instance_variables.applicationsets | to_yaml(default_flow_style=False, width=1337)  | indent(width=4) }}
  extensions:
    {{ gitops_instance_variables.extensions | to_yaml(default_flow_style=False, width=1337)  | indent(width=4) }}
  projects:
    {{ gitops_instance_variables.projects | to_yaml(default_flow_style=False, width=1337)  | indent(width=4) }}
