gitlab_users = {{ gitlab_users | to_json }}

User.find_by(username: 'root')&.destroy!
User.find_by(username: 'kubitus')&.destroy!

transient_admin = User.new(admin: true)

gitlab_users.each do |gitlab_user|
    username = gitlab_user[:username] || raise(ArgumentError, "missing username")
    name = gitlab_user[:name] || username
    email = gitlab_user[:email] || raise(ArgumentError, "missing email for #{username}")
    password = gitlab_user[:password] || raise(ArgumentError, "missing password for #{username}")
    can_create_group = gitlab_user[:can_create_group] || false

    print "Getting user #{username}\n"
    user = User.find_by(username: username)
    if user then
        print "Updating user #{username} with name=#{name}, email=#{email}, password=REDACTED, can_create_group=#{can_create_group}\n"
        Users::UpdateService.new(
                                    transient_admin,
                                    user: user,
                                    username: username,
                                    name: name,
                                    email: email,
                                    password: password,
                                    skip_confirmation: true,
                                    can_create_group: can_create_group
                                ).execute!
    else
        print "Creating user #{username} with name=#{name}, email=#{email}, password=REDACTED, can_create_group=#{can_create_group}\n"
        user_create_response = Users::CreateService.new(
                                        transient_admin,
                                        username: username,
                                        name: name,
                                        email: email,
                                        password: password,
                                        skip_confirmation: true,
                                        organization_id: 1,
                                        can_create_group: can_create_group
                                        ).execute
        user = user_create_response.payload[:user]
        raise ActiveRecord::RecordInvalid, user unless user_create_response.success?
    end
    print "Destroying Personal Access Tokens for user #{username}\n"
    user.personal_access_tokens.destroy_all
    user_tokens = {}
    (gitlab_user[:personal_access_tokens] || []).each do |pat|
        print "Creating Personal Access Tokens #{pat[:name]} with scopes #{pat[:scopes]}\n"
        pat_create_response = PersonalAccessTokens::CreateService.new(
            current_user: user,
            target_user: user,
            organization_id: 1,
            params: {name: pat[:name], scopes: pat[:scopes]}
        ).execute
        token = pat_create_response.payload[:personal_access_token]
        raise ActiveRecord::RecordInvalid, token unless pat_create_response.success?
        user_tokens[pat[:variable_name]] = token.token if pat[:variable_name]
    end
    File.write("/var/opt/gitlab/kubitus/user-#{username}-tokens.yaml", "#{user_tokens.to_yaml}\n")
end
