operator:
  operator:
    env:
    - name: PROMETHEUS_NAMESPACE
      value: prometheus-stack

    image:
      {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    sidecarImage:
      {{ gitops_instance_variables.sidecar_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    resources:
      requests:
        cpu: {{ gitops_instance_variables.cpu_request | to_json }}
        memory: {{ gitops_instance_variables.memory_request | to_json }}
      limits:
        cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
        memory: {{ gitops_instance_variables.memory_limit | to_json }}
