opencost:
  opencost:
    exporter:
      image:
        {{ gitops_instance_variables.exporter_image | imagesplit('registry,repository,tag') | to_yaml(default_flow_style=False, width=1337) | indent(width=8) }}

      resources:
        requests:
          {% if gitops_instance_variables.exporter_cpu_request %}
          cpu: {{ gitops_instance_variables.exporter_cpu_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.exporter_memory_request %}
          memory: {{ gitops_instance_variables.exporter_memory_request | to_json }}
          {% endif %}

        limits:
          {% if gitops_instance_variables.exporter_cpu_limit %}
          cpu: {{ gitops_instance_variables.exporter_cpu_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.exporter_memory_limit %}
          memory: {{ gitops_instance_variables.exporter_memory_limit | to_json }}
          {% endif %}

      extraEnv:
        EMIT_KSM_V1_METRICS: 'false'
        EMIT_KSM_V1_METRICS_ONLY: 'true'

    metrics:
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: prometheus-stack


    prometheus:
      internal:
        serviceName: prometheus-stack-kube-prom-prometheus
        namespaceName: prometheus-stack
        port: 9090


    ui:
      image:
        {{ gitops_instance_variables.ui_image | imagesplit('registry,repository,tag') | to_yaml(default_flow_style=False, width=1337) | indent(width=8) }}
      resources:
        requests:
          {% if gitops_instance_variables.ui_cpu_request %}
          cpu: {{ gitops_instance_variables.ui_cpu_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.ui_memory_request %}
          memory: {{ gitops_instance_variables.ui_memory_request | to_json }}
          {% endif %}

        limits:
          {% if gitops_instance_variables.ui_cpu_limit %}
          cpu: {{ gitops_instance_variables.ui_cpu_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.ui_memory_limit %}
          memory: {{ gitops_instance_variables.ui_memory_limit | to_json }}
          {% endif %}

      ingress:
        enabled: {{ gitops_instance_variables.ingress_enabled | to_json }}
        ingressClassName: {{ gitops_instance_variables.ingress_class | to_json }}
        {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
        annotations:
          cert-manager.io/cluster-issuer: {{ gitops_instance_variables.ingress_certificate_issuer | to_json }}
        {% endif %}
        hosts:
        - host: "{{ gitops_instance_variables.fqdn }}"
          paths:
            - /
        tls:
        - hosts:
          - "{{ gitops_instance_variables.fqdn }}"
          {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
          secretName: "{{ gitops_instance_variables.fqdn }}-tls"
          {% endif %}
